{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "airbnb-typescript", "prettier"],
  "plugins": ["@typescript-eslint","prettier"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "**/*.test.{js,jsx,ts,tsx}",
        "**/*.spec.{js,jsx,ts,tsx}",
        "**/*.stories.{js,jsx,ts,tsx}",
        "test/**/*",
        "cypress/**/*",
        "plopfile.mjs",
        "cypress.config.ts",
        "vitest.config.ts",
        "ui/src/mocks/**/*"
      ]
    }],
    "import/extensions": ["error", "ignorePackages", { "js": "always" }],
    "prettier/prettier": "error",
    "no-prototype-builtins": "off",
    "import/prefer-default-export": "off",
    "consistent-return": "off",
    "new-cap": "off",
    "no-underscore-dangle": "off",
    "react/function-component-definition": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/require-default-props": "off"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  }
}
